{% extends "main/base.html" %}
{% load static %}

{% block menu %}
     <ul class="menu">
           <li><a href="{% url 'main:home' %}">Главная</a></li>
           <li><a href="{% url 'main:film' %}">Фильмы</a></li>
           <li><a href="{% url 'main:rating' %}">Рейтинг</a></li>
           <li class="selected"><a href="{% url 'main:contact' %}">Контакты</a></li>
  	 </ul>
 {% endblock %}

{% block body %}
      <div class="content">

               <h1>Контакты</h1>
                <p>Отправьте ваш отзыв о портале КиноМонстер</p>

                     <div class="send_contact">

                        <form method="post" action="#" id="contact">

                               <input type="text" name="review_name" placeholder="ваше имя">
                               <input type="text" name="review_email" placeholder="ваше email">
                               <textarea name="review_text"></textarea>
                               <input type="submit" class="btn" value="отправить" >

                        </form>

                     </div>

                 </div>
{%  endblock %}
