{% extends "main/base.html" %}
{% load static %}

{% block menu %}
     <ul class="menu">
           <li><a href="{% url 'home' %}">Главная</a></li>
           <li class="selected"><a href="{% url 'film' %}">Фильмы</a></li>
           <li><a href="{% url 'rating' %}">Рейтинг</a></li>
           <li><a href="{% url 'contact' %}">Контакты</a></li>
  	 </ul>
 {% endblock %}

{% block body %}
        <div class="content">
           {% for el in movie_list %}

               <div class="info_film">
                 <img src="{{el.img.url}}">
                   <p>{{ el.description }}</p>
                  <div class="button"><a href="{% url 'main:show' el.id %}">Смотреть</a></div>
               </div>

           {% endfor %}



            </div>

{%  endblock %}
