{% extends "main/base.html" %}
{% load static %}

{% block menu %}
     <ul class="menu">
           <li><a href="{% url 'home' %}">Главная</a></li>
           <li><a href="{% url 'film' %}">Фильмы</a></li>
           <li class="selected"><a href="{% url 'rating' %}">Рейтинг</a></li>
           <li><a href="{% url 'contact' %}">Контакты</a></li>
  	 </ul>
 {% endblock %}

{% block body %}
          <div class="content">

                     <table>

          <tr>
            <th></th>
            <th>Фильм</th>
            <th class="center">Год</th>
            <th class="center">Рейтинг</th>
          </tr>
          <tr>
            <td class="center"><img src="{% static 'img/inter.png' %}"></td>
            <td>1. <a href="{% url 'show' %}">Интерстеллар</a></td>
            <td class="center">2014</td>
            <td class="center rating">8.1</td>
          </tr>
          <tr>
            <td class="center"><img src="{% static 'img/matrix.png' %}"></td>
            <td>2. <a href="{% url 'show' %}">Матрица</a></td>
            <td class="center">1999</td>
            <td class="center rating">8.0</td>
          </tr>
          <tr>
            <td class="center"><img src="{% static 'img/max.png' %}"></td>
            <td>3. <a href="{% url 'show' %}">Безумный макс</a></td>
            <td class="center">2015</td>
            <td class="center rating">7.5</td>
          </tr>
          <tr>
            <td class="center"><img src="{% static 'img/cloud.png' %}"></td>
            <td>4. <a href="{% url 'show' %}">Облачный атлас</a></td>
            <td class="center">2013</td>
            <td class="center rating">7.4</td>
          </tr>

        </table>

  </div>

{%  endblock %}
