* {
	margin:0;
	padding:0;
}
body {
	font-size: 1.2em;
	background-color: #fff;
	color: #555;
}
 
hr {
	width: 600px;
	margin-top: 15px;	
}

p {
	padding: 0 0 20px 0;
	line-height: 1.7em;
}

input[type="text"], input[type="password"], input[type="search"] {
	color: #5d5d5d;
	padding: 8px;
}

input, textarea {
	outline: none;
	border: none;
	border: solid 1px #f2f2f2;
}

h1, h2 {
	font: normal 170% 'sentry gothic', arial;
	margin:0 0 15px 0;
	padding: 15px 0 5px 0;
	color: #000;
}

h2 {
	font-size: 140%;
}
a, a:hover {
	outline: none;
	text-decoration: underline;
	color: #aeb002;
}

ul {
	margin: 2px 0 22px 17px;
}

ul li {
	margin: 0 0 6px 0;
	padding: 0 0 4px 5px;
	line-height: 1.5em;
}

.header{
	background-color: black;
	height: 177px;
	 font-size: 0.8em;
	 margin-left: 0;
	 margin-right: 0;
	 min-width: 900px;
}

.main, .logo, .menubar, .site_content, .footer {
	margin-right: auto;
	margin-left: auto;
}

.logo {
	width: 880px;
	padding-bottom: 40px;
}

.logo h1, .logo h2 {
	font: normal 300% 'century gothic', arial, sans-serif;
	margin: 0 0 0 9px;
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover {
	padding: 22px 0 0 0;
	color: #fff;
	letter-spacing: 0.1em;
	text-decoration: none;
}

.logo_text h2 {
	font-size: 0.9em;
	padding: 4px 0 0 0;
	color: #999;
}

.menubar {
	width: 900px;
	height: 46px;
}

ul.menu {
	float: right;
}
ul.menu li {
	float: left;
	padding: 0 0 0 9px;
	list-style: none; 
	margin:1px 2px 0 0;
}

ul.menu li a {
	font: normal 100% 'trebuchet ms', sans-serif;
	display: block;
	height: 20px;
	padding: 6px 35px 5px 28px;
	color:#fff;
	text-decoration: none;
}
ul.menu li.selected a {
	color: #6cb6ce;
}

ul.menu li a:hover {
	color: #6cb6ce;
}

.site_content {
 width: 880px;
 overflow: hidden;
 margin: 20px auto 0 auto;
 background-color: white;
} 

.sitebar_container {
	float:right;
	width: 222px;
}

.sidebar {
	float: right;
	width: 240px;
	padding: 5%;
	margin: 0 0 18px 0;
	border: solid 1px #f2f2f2;
	border-radius: 5px;
	background-color: #f9f9f9;

}

.btn {
	padding: 8px;
	background-color: white;
	cursor:pointer;
}

.sidebar h2 {
	color: #136cb2;
}

.lables_passreg_text {
	font-size: 0.7em;
	margin-left: 2%;
	margin-top: 3%;
}

.sidebar ul {
	margin: 0;
}

.sidebar ul li {
	list-style-type: none;
	margin: 0 0 0 0;
}

.sidebar .reting_sidebar {
	float:right;
}

.content {
	text-align: left;
	width: 620px;
	padding: 0 0 0 5px;
	float: left;
}

.content a {
	text-decoration: none;
}

.film_block {
	margin-bottom: 5%;
}

.film_block img {
	border-radius: 5px;
	border: solid 5px #dad7d5;
	width: 22%;
}
.info_film_page {
	margin-top: 2%;
	margin-bottom: 4%;
}

.info_film_page .label {
 font-size: 1.2em;
}

.info_film_page .value {
 font-size: 1em;
 color: #49945a;
 margin-right: 3%;

}

.reviews {
	margin-bottom: 4%;
	font-size: 0.9em;
}

.reviews .review_name {
 background-color: #7268ad;
 color: white;
 padding: 1%;	
 width: 590px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
}

.reviews .review_text {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
}

.send {
	margin-bottom: 4%;
}

.send input[type="text"], textarea {
	border: solid 1px #c3c3c3;
	margin-bottom: 2%; 
}

.send input[type="text"] {
	width: 98%;
}

.send textarea {
	width: 608px;
	height: 200px;
}

.send input[type="submit"], .send_contact input[type="submit"] {
	background-color: black;
	padding: 3%;
	color: white;
	border-radius: 5px;
}

.send input[type="submit"]:hover, .send_contact input[type="submit"]:hover {
	color: #6cb6ce;
}
 
 .send_contact input[type="text"] {
  width: 500px;
  margin-bottom: 10px; 
}

.send_contact textarea {
  width: 516px;
  height: 300px;
}


.info_film{
	margin-bottom: 5%;
	background-color: #f9f9f9;
	padding: 5%;
	width: 530px;
	padding-bottom: 56px;
}


.info_film img {
float: left;
margin-right: 2%;
border-radius: 5px;
width: 25%;
}

.button {
	background-color: black;
	padding: 2%;
	color: white;
	border-radius: 5px;
	float:right;
	clear: both;
	font-size: 0.8em;
	margin-bottom: 10px;
}

.button a {
	color:white;
}

.button a:hover {
	color:#6b6c;
}

table {
	width: 95%;
	border: solid 1px #f4f4f4;
}
td {
	padding: 2%;
	border: solid 1px #f4f4f4;
}

td img {
	width: 60px;
	vertical-align: middle;
}

.center{
	text-align: center;
}

.footer {
	width: 100%;
	height: 100px;
	padding: 28px 0 5px 0;
	text-align: center;
	background-color: black;
	color: #fff;
	margin-left: 0;
	margin-right: 0;
	min-width: 900px;
}
.footer a {
	color: #fff;
	text-decoration: none; 
}

.footer a:hover {
	color: #6cb6ce;
	text-decoration: none;
}

.footer p {
	padding: 0 0 10px 0;
}

.content_info h1 {
	color: #aeb002;
}



.content_info {
	 
	padding-bottom: 30px; 
	font-size: 0.8em;
	width: 600px;

}
.content_info a {
   font-size: 120%;
   text-decoration: none;
}

.description_film {
	margin-bottom: 15%;
	width: 600px;

}

.description_film img {
	float: left;
	margin-right: 2%;
	border-radius: 5px;
	border: solid 5px #dad7d5;
}

/* CSS Mobile */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	.header {
		background-color: #284f5c;
		min-width: 100%; 
		height: 45%;
		text-align: center;

	}
	.footer {
		background-color: #284f5c;
	}
  .logo {
  	width: 100%;
  }

  .site_content {
  	width: 100%;
  }

  .menubar {
  	width: 100%;
  	height: 100%;
  }
   .content {
   	width: 100%;
   	text-align: center;
   }

  .site_content {
  	width: 100%;
  	text-align: center;
  }

  .sitebar_container {
  	display: none;
  }

  .footer {
  	display: none;
  }

ul.menu {
	float: none;
}

ul.menu li {
	margin: 0;
	padding: 0;
	float: none;
}
 
 .content h1, h2 {
 	font: normal 110% 'century gothic',arial;
 }

 .film_block img {
 	width:  43%;
 }

 .post_content p {
 	line-height: 1.5em;
 	font-size: 120%;
 	padding: 3%;
 	text-align: left;
 	width: 58%;
 }

 .content_info {
 	width: 100%;
 }

/*  film page   */

.info_film {
	float: none;
	height: 108%;
}

.info_film img {

	width: 90%;
	margin-bottom: 5%;
}

.button {
	float: none;
}

/*  contact page  */

.send_contact input[type="text"] {

	width: 90%;
}

.send_contact textarea {

	width: 90%;
}

.send input[type="submit"], .send_contact input[type="submit"] {

	width: 90%;
	margin-bottom: 5%;
}

/* show page */

iframe {
	width: 88%;
	height: 40%;
}

.description_film {

	width: 90%;
	text-align: left;
	margin-left: 2%;
}

.description_film img {
 
 float: none;
 width: 73%;
 display: block;
 margin: 0;
 padding: 0;
 margin-left: 11%;
 margin-bottom: 7%;
}

.reviews .review_name {
	width: 95%;
	text-align: center;
}

.reviews .review_text{
 width: 95%;
}

.send input[type="text"] {
	width: 93%;
}

.send textarea {
	width: 93%;
}

}